name: Python application
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.13.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.13.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    

    - name: Run script
      run: |
        python hello.py

    
